// TODO: need to replace import with use
@import '../../../scss/variables.scss';

.card {
  background-color: $very-pale-blue;
  box-sizing: content-box;
  width: 100%;
  // TODO: add mobile style here
  color: $black;
}

.cardDark {
  background-color: $dark-desaturated-blue;
  color: $white;
}
