// TODO: need to replace import with use
@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.card {
  background-color: $very-pale-blue;
  box-sizing: content-box;
  width: 85%;
  color: $black;

  @include media-desktop() {
    width: 200%;
  }
}

.cardDark {
  background-color: $dark-desaturated-blue;
  color: $white;
}
