@use '../../scss/variables.scss';
@use '../../scss/mixins.scss';

.footer {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 14px;
  font-weight: variables.$standard-text;
  color: variables.$black;

  @include mixins.media-desktop() {
    font-size: 18px;
    bottom: 0px;
  }
}

.link {
  color: hsl(228, 45%, 44%);
}

.footerDark {
  color: variables.$white;
}

.linkDark {
  color: variables.$white;
}
