@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.footer {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 14px;
  font-weight: $standard-text;
  color: $black;

  @include media-desktop() {
    font-size: 18px;
    bottom: 0px;
  }
}

.link {
  color: hsl(228, 45%, 44%);
}

.footerDark {
  color: $white;
}

.linkDark {
  color: $white;
}
