// TODO: need to replace import with use
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.card {
  @include desktop-card();
}

.mainContentContainer {
  display: flex;
  justify-content: space-between;
  font-weight: $bold-text;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.rightColumn {
  margin-right: 15px;
  align-content: flex-end;
}

.leftColumn {
  margin-left: 15px;
}

.activityContainer {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  margin-bottom: auto;

  @include media-desktop() {
    margin-top: 40px;
  }
}

.activityIcon {
  margin-right: 4px;
  margin-bottom: 3px;
}

.activityNumberIsIncreased {
  color: $lime-green;
}

.activityNumberIsDecreased {
  color: $bright-red;
}

.socialInteraction {
  margin-top: 18px;
  margin-bottom: auto;
  font-size: 24px;
  letter-spacing: 1px;

  @include media-desktop() {
    font-size: 35px;
    margin-top: 35px;
  }
}

.socialInteractionDark {
  color: $white;
}

.title {
  font-weight: $bold-text;
  color: $dark-greyish-blue-text;
  font-size: 12px;

  @include media-desktop() {
    font-size: 14px;
  }
}

.titleDark {
  color: $dark-desaturated-blue-text;
}

.activityNumber {
  font-size: 10px;

  @include media-desktop() {
    font-size: 14px;
  }
}

.socialIcon {
  width: 14px;
  height: auto;
  margin-left: 15px;

  @include media-desktop() {
    width: 20px;
    height: auto;
    margin-left: 22px;
  }
}
