@import './scss/variables.scss';

.link {
  color: red;
}

.appContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Inter, sans-serif';
  width: 100vw;
  height: 100vh;
  background-color: $white;
  font-weight: $bold-text;
  margin-left: 25px;
  margin-top: 35px;
}

.mainTitle {
  font-size: 30px;
  margin-bottom: 5px;
}

.socialMediaContainer {
  // display: flex;
  // flex-direction: row;
}

.totalFollowersText {
  color: $dark-greyish-blue;
  margin-bottom: 15px;
}

.socialCardListItem {
  margin-bottom: 10px;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

.switchToggleLabel {
  color: $dark-greyish-blue;
  font-size: 12px;
  margin-right: 25px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style-type: none;
  margin-top: 20px;
}

.topCards {
  margin-bottom: 15px;
}

.appDark {
  background-color: $very-dark-blue-bg;
}
