@import './scss/variables.scss';
@import './scss/mixins.scss';

.link {
  color: red;
}

.appContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Inter, sans-serif';
  width: 100vw;
  height: 100vh;
  background-color: $white;
  font-weight: $bold-text;
  margin-left: 25px;
  margin-top: 35px;

  @include media-desktop() {
    margin-left: 30px;
  }
}

.mainTitle {
  font-size: 28px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;

  @include media-desktop() {
    font-size: 40px;
  }
}

.socialMediaContainer {
  // display: flex;
  // flex-direction: row;
}

.totalFollowersText {
  color: $dark-greyish-blue;
  margin-bottom: 15px;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 25px;

  @include media-desktop() {
    justify-content: none;
  }
}

.switchToggleLabel {
  color: $dark-greyish-blue;
  font-size: 12px;
  margin-right: 25px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;

  @include media-desktop() {
    display: flex;
    flex-direction: row;
  }
}

li {
  margin-bottom: 20px;
}

.bottomTodayCards {
  margin: 0 auto;
}

.overviewTitle {
  color: $dark-greyish-blue;
  font-size: 20px;
  margin-bottom: 22px;
}

.appDark {
  background-color: $very-dark-blue-bg;
}
