@import './variables.scss';

@mixin screen-media($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-desktop {
  @include screen-media($size-desktop) {
    @content;
  }
}

@mixin desktop-card {
  @include media-desktop() {
    width: 300px;
    height: auto;
  }
}

@mixin activity-number-font-size {
  font-size: 10px;
  @include media-desktop() {
    font-size: 12px;
  }
}

@mixin activity-icon-size {
  width: 7px;
  height: auto;
}
