// Main colors
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$white: hsl(0, 0%, 100%);

// Dark mode colors
$dark-main-page-background: hsl(230, 17%, 14%);
$dark-card-hover-background: hsl(228, 28%, 20%);
$dark-greyish-blue-text: hsl(228, 12%, 44%);
$dark-top-card-background: hsl(228, 28%, 20%);
$dark-text-color: $white;

// Light mode colors
$light-top-card-background: hsl(227, 47%, 96%);
$light-text-color: hsl(232, 19%, 15%);
